// src/scss/abstracts/_variables.scss
$font-stack: "Poppins", sans-serif;
$base-bg: #faf8ef;
$text-color: #776e65; // Define the text color
$border-color: #bbada0;
$grid-bg: #cdc1b5;
$box-size: 97.5px;
$box-font-size: 40px;
